<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "adminGuide">

<!-- 추가 -->
<insert id = "insert" parameterType = "GuidePostDTO">
	INSERT INTO TBL_NOTICE_POST 
	(NOTICE_POST_NUMBER, NOTICE_TYPE_ID, ADMIN_NUMBER, NOTICE_POST_TITLE, NOTICE_POST_CONTENT, NOTICE_POST_DATE, NOTICE_POST_UPDATE)
	VALUES
	(seq_notice_POST.nextVal, 3, #{adminNumber}, #{noticePostTitle}, #{noticePostContent}, SYSDATE, SYSDATE)
</insert>

<!-- 상세페이지 -->
<select id = "selectDetail" resultType = "GuidePostDTO" parameterType = "int">
<![CDATA[
	SELECT NP.NOTICE_POST_NUMBER,
	       NP.NOTICE_POST_TITLE,
	       NP.NOTICE_POST_CONTENT,
	       NP.NOTICE_POST_DATE,
	       NVL(NP.NOTICE_POST_UPDATE, NP.NOTICE_POST_DATE) AS NOTICE_POST_UPDATE,
	       NP.Admin_number
	FROM TBL_NOTICE_POST NP
	JOIN TBL_NOTICE_TYPE NT ON NP.NOTICE_TYPE_ID = NT.NOTICE_TYPE_ID
	JOIN TBL_ADMIN A ON NP.ADMIN_NUMBER = A.ADMIN_NUMBER
	WHERE NP.NOTICE_POST_NUMBER = #{noticePostNumber}
	AND NT.NOTICE_TYPE = 'StarterGuide'
]]>
</select>

<select id = "getTotal" resultType = "int">
	SELECT COUNT(NOTICE_POST_NUMBER)
	FROM TBL_NOTICE_POST
	WHERE NOTICE_TYPE_ID = 3
</select>


<!-- 목록 조회 -->
<select id="select" resultType="GuidePostDTO">
<![CDATA[
	SELECT *
	FROM (
	    SELECT ROWNUM AS rnum, subquery.*
	    FROM (
	        SELECT P.NOTICE_POST_NUMBER,
	               P.NOTICE_POST_TITLE,
	               P.NOTICE_POST_CONTENT,
	               P.NOTICE_POST_DATE,
	               P.NOTICE_POST_UPDATE,
	               p.ADMIN_NUMBER
	        FROM TBL_NOTICE_POST P
	        WHERE P.NOTICE_TYPE_ID = 3
	        ORDER BY P.NOTICE_POST_DATE DESC
	    ) subquery
	)
	WHERE rnum BETWEEN #{startRow} AND #{endRow}
]]>
</select>

<select id = "selectAll" resultType = "GuidePostDTO">
	SELECT P.NOTICE_POST_NUMBER,
	       P.NOTICE_POST_TITLE,
	       P.NOTICE_POST_CONTENT,
	       P.NOTICE_POST_DATE,
	       P.NOTICE_POST_UPDATE,
		   p.ADMIN_NUMBER   
	FROM TBL_NOTICE_POST P
	WHERE P.NOTICE_TYPE_ID = 3
</select>



<!-- 목록 검색 -->
<select id = "selectFilter" parameterType = "string" resultType = "GuidePostDTO">
<![CDATA[
	SELECT *
	FROM (
	    SELECT ROWNUM AS rnum, subquery.*
	    FROM (
	        SELECT P.NOTICE_POST_NUMBER,
	               P.NOTICE_POST_TITLE,
	               P.NOTICE_POST_CONTENT,
	               P.NOTICE_POST_DATE
	        FROM TBL_NOTICE_POST P
	        WHERE P.NOTICE_TYPE_ID = 3
	        AND P.NOTICE_POST_TITLE LIKE '%' || #{postTitle} || '%'
	        ORDER BY P.NOTICE_POST_DATE DESC
	    ) subquery
	)
	WHERE rnum BETWEEN #{startRow} AND #{endRow}
]]>
</select>

<!-- 수정 -->
<update id = "update" parameterType = "GuidePostDTO">
	UPDATE TBL_NOTICE_POST SET
	NOTICE_POST_TITLE = #{noticePostTitle},
	NOTICE_POST_CONTENT = '#{noticePostContent},
	NOTICE_POST_UPDATE = SYSDATE,
	WHERE NOTICE_POST_NUMBER = #{noticePostNumber}
</update>

<!-- 삭제 -->
<delete id = "delete" parameterType = "int">
	DELETE FROM TBL_NOTICE_POST NP
	WHERE NOTICE_POST_NUMBER = #{noticePostNumber}
</delete>


</mapper>