<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminSellPost">
	<!--전체 게시글 조회  -->
	<select id="selectList" resultType="SellPostDTO">
	<![CDATA[
	SELECT SELL_POST_NUMBER,
	       SELL_POST_TITLE,
	       PRICE_POINT,
	       TRADING_AREA,
	       IMAGE_PATH,
	       MEMBER_ID AS SELLER_ID
	FROM (
	    SELECT SP.SELL_POST_NUMBER,
	           SP.SELL_POST_TITLE,
	           SP.PRICE_POINT,
	           SP.TRADING_AREA,
	           M.MEMBER_ID,
	           AT.ATTACHMENT_PATH,
	           ROWNUM AS RN
	    FROM (
	        SELECT SP.SELL_POST_NUMBER,
	               SP.SELL_POST_TITLE,
	               SP.PRICE_POINT,
	               SP.TRADING_AREA,
	               M.MEMBER_ID,
	               AT.ATTACHMENT_PATH
	        FROM TBL_SELL_POST SP
	        JOIN TBL_MEMBER M
             ON SP.MEMBER_NUMBER = M.MEMBER_NUMBER
	        LEFT JOIN TBL_SELL_POST_ATTACHMENT SPA
	               ON SP.SELL_POST_NUMBER = SPA.SELL_POST_NUMBER
	        LEFT JOIN TBL_ATTACHMENT AT
	               ON SPA.ATTACHMENT_NUMBER = AT.ATTACHMENT_NUMBER
	        WHERE SP.STATUS_ID = 2
	        ORDER BY SP.SELL_POST_NUMBER, AT.ATTACHMENT_NUMBER
	    ) SP_SUB
	)
	WHERE RN BETWEEN #{startRow} AND #{endRow}
	]]>
	</select>
	
	<!-- 판매글 상세 조회 -->
	<select id="selectDetail" parameterType="int" resultType="SellPostDTO">
	<![CDATA[
	SELECT SP.SELL_POST_NUMBER,
       SP.SELL_POST_TITLE,
       SP.SELL_POST_CONTENT,
       SP.PRICE_POINT,
       SP.TRADING_AREA,
       SP.SELL_POST_CREATION_DATE,
       SP.SELL_POST_UPDATE,
       M.MEMBER_NUMBER,
       M.MEMBER_ID AS SELLER_NAME,
       C.CATEGORY_NAME,
       S.STATUS_NAME,
       D.DEALTYPE_NAME,
       A.ATTACHMENT_NUMBER,
       A.ATTACHMENT_NAME,
       A.ATTACHMENT_PATH
	FROM TBL_SELL_POST SP
	JOIN TBL_MEMBER M ON SP.MEMBER_NUMBER = M.MEMBER_NUMBER            
	JOIN TBL_CATEGORY C ON SP.CATEGORY_ID = C.CATEGORY_ID              
	JOIN TBL_TRADE_STATUS S ON SP.STATUS_ID = S.STATUS_ID              
	JOIN TBL_DEALTYPE D ON SP.DEALTYPE_ID = D.DEALTYPE_ID              
	LEFT JOIN TBL_SELL_POST_ATTACHMENT PA ON SP.SELL_POST_NUMBER = PA.SELL_POST_NUMBER 
	LEFT JOIN TBL_ATTACHMENT A ON PA.ATTACHMENT_NUMBER = A.ATTACHMENT_NUMBER
	WHERE SP.SELL_POST_NUMBER = #{sellPostNumber}
	]]>
	</select>
	
	<!-- 판매글 삭제 쿼리  -->
	<delete id="delete" parameterType="int">
		delete from tbl_sell_post
		where sell_post_number = #{sellPostNumber}
	</delete>
</mapper>