<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "attachment">
<!-- 조회 관련 -->

	<!-- 게시글 파일 조회 -->
	<select id="selectAttachment" parameterType="int" resultType="AttachmentDTO">
	    <![CDATA[
	    SELECT 
	        A.POST_NUMBER,
	        A.ATTACHMENT_NUMBER,
	        A.ATTACHMENT_PATH,
	        A.ATTACHMENT_NAME,
	        A.ATTACHMENT_TYPE_ID
	    FROM TBL_ATTACHMENT A
	    WHERE A.POST_NUMBER = #{postNumber}
	    ]]>
	</select>
	
	<!-- 판매글 파일 조회 -->
	<select id="selectAttachmentBySellPost" parameterType="int" resultType="AttachmentDTO">
	    <![CDATA[
	    SELECT 
	        A.SELL_POST_NUMBER,
	        A.ATTACHMENT_NUMBER,
	        A.ATTACHMENT_PATH,
	        A.ATTACHMENT_NAME,
	        A.ATTACHMENT_TYPE_ID
	    FROM TBL_ATTACHMENT A
	    WHERE A.SELL_POST_NUMBER = #{sellPostNumber}
	    ]]>
	</select>
	
	<!-- 공지사항 파일 조회 -->
	<select id="selectNoticeAttachment" parameterType="int" resultType="AttachmentDTO">
	    <![CDATA[
	    SELECT 
	        A.NOTICE_POST_NUMBER,
	        A.ATTACHMENT_NUMBER,
	        A.ATTACHMENT_PATH,
	        A.ATTACHMENT_NAME,
	        A.ATTACHMENT_TYPE_ID
	    FROM TBL_ATTACHMENT A
	    WHERE A.NOTICE_POST_NUMBER = #{noticePostNumber}
	    ]]>
	</select>
	
	<!-- 추가 관련 -->
	<insert id="insertAttachment" parameterType="AttachmentDTO" useGeneratedKeys="true" keyProperty="attachmentNumber">
	    INSERT INTO TBL_ATTACHMENT(ATTACHMENT_NUMBER, ATTACHMENT_TYPE_ID, ATTACHMENT_NAME, ATTACHMENT_PATH, SELL_POST_NUMBER, POST_NUMBER, NOTICE_POST_NUMBER)
	    VALUES(seq_attachment_number.nextval, #{attachmentTypeId}, #{attachmentName}, #{attachmentPath}, #{sellPostNumber}, #{postNumber}, #{noticePostNumber})
	</insert>
	
		<!-- 추가 관련 -->
	<insert id="insertNoticeAttachment" parameterType="AttachmentDTO">
	    INSERT INTO TBL_ATTACHMENT(ATTACHMENT_NUMBER, ATTACHMENT_TYPE_ID, ATTACHMENT_NAME, ATTACHMENT_PATH, NOTICE_POST_NUMBER)
	    VALUES(seq_attachment_number.nextval, #{attachmentTypeId}, #{attachmentName}, #{attachmentPath}, #{noticePostNumber})
	</insert>





	<!-- 게시글 번호 가져오기 -->
	<select id = "getCurrentNoticeNumber" resultType = "int">
	SELECT NOTICE_POST_NUMBER 
	FROM TBL_NOTICE_POST
	ORDER BY NOTICE_POST_NUMBER DESC
	FETCH FIRST 1 ROWS ONLY
	</select>

	<select id = "getCurrentPostNumber" resultType = "int">
	SELECT POST_NUMBER
	FROM TBL_POST
	ORDER BY TBL_POST DESC
	FETCH FIRST 1 ROWS ONLY
	</select>
	
	<select id = "getCurrentTradeNumber" resultType = "int">
	SELECT SELL_POST_NUMBER
	FROM TBL_SELL_POST
	ORDER BY SELL_POST_NUMBER DESC
	FETCH FIRST 1 ROWS ONLY
	</select>

	
	
	<!-- 제거 관련 -->
	<!-- 판매글 첨부파일 삭제  -->
	<delete id="deleteSellPost" parameterType="int">
    <![CDATA[
    DELETE FROM TBL_ATTACHMENT
    WHERE SELL_POST_NUMBER = #{sellPostNumber}
    ]]>
	</delete>

	<!-- 게시글 첨부파일 삭제 -->
	<delete id="deletePost" parameterType="int">
    <![CDATA[
    DELETE FROM TBL_ATTACHMENT
    WHERE POST_NUMBER = #{postNumber}
    ]]>
	</delete>
	
	<!-- 게시글 첨부파일 삭제 -->
	<delete id="deleteNoticePost" parameterType="int">
    <![CDATA[
    DELETE FROM TBL_ATTACHMENT
    WHERE NOTICE_POST_NUMBER = #{noticePostNumber}
    ]]>
	</delete>
	
	<!-- 파일 자체 삭제 -->
	<delete id="deleteAttachment" parameterType="int">
	<![CDATA[
    DELETE FROM TBL_ATTACHMENT
    WHERE ATTACHMENT_NUMBER = #{attachmentNumber}
    ]]>
    </delete>
</mapper>
