<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sell">
	<!-- 판매글 목록 조회 -->
	<select id="selectList" resultType="SellPostDTO">
	    <![CDATA[
	    SELECT *
	    FROM (
	        SELECT ROWNUM AS RN, subquery.*
	        FROM (
	            SELECT SP.SELL_POST_NUMBER,
	                   SP.SELL_POST_TITLE,
	                   SP.PRICE_POINT,
	                   SP.TRADING_AREA,
	                   SP.SELL_POST_CREATION_DATE,
	                   M.MEMBER_ID AS SELLER_ID,
	                   (SELECT ATTACHMENT_PATH
	                      FROM (
	                           SELECT ATTACHMENT_PATH,
	                                  ROW_NUMBER() OVER(PARTITION BY SELL_POST_NUMBER ORDER BY ATTACHMENT_NUMBER) AS RN
	                           FROM TBL_ATTACHMENT
	                           WHERE SELL_POST_NUMBER = SP.SELL_POST_NUMBER
	                      )
	                      WHERE RN = 1
	                   ) AS imagePath
	            FROM TBL_SELL_POST SP
	            JOIN TBL_MEMBER M ON SP.MEMBER_NUMBER = M.MEMBER_NUMBER
	            WHERE SP.STATUS_ID = 1
	            ORDER BY SP.SELL_POST_NUMBER DESC
	        ) subquery
	    )
	    WHERE RN BETWEEN #{startRow} AND #{endRow}
	    ]]>
	</select>

	
	<!-- 특정 팀 물품 조회 -->
	<select id="selectListTeam" parameterType="map" resultType="SellPostDTO">
	<![CDATA[
	SELECT *
	FROM (
	    SELECT ROWNUM AS RN, subquery.*
	    FROM (
	        SELECT SP.SELL_POST_NUMBER,
	               SP.SELL_POST_TITLE,
	               SP.PRICE_POINT,
	               SP.TRADING_AREA,
	               SP.SELL_POST_CREATION_DATE,
	               M.MEMBER_ID AS SELLER_ID,
	               AT.ATTACHMENT_PATH AS IMAGE_PATH
	        FROM TBL_SELL_POST SP
	        JOIN TBL_MEMBER M
	          ON SP.MEMBER_NUMBER = M.MEMBER_NUMBER
	        LEFT JOIN TBL_ATTACHMENT AT
	          ON SP.SELL_POST_NUMBER = AT.SELL_POST_NUMBER
	        WHERE SP.STATUS_ID = 1
	          AND SP.TEAM_ID = #{teamId}
	        ORDER BY SP.SELL_POST_NUMBER DESC
	    ) subquery
	)
	WHERE RN BETWEEN #{startRow} AND #{endRow}	
	]]>
	</select>


	<!-- 특정 팀 카테고리 상품 조회 -->
	<select id="selectListTeamCategory" parameterType="map" resultType="SellPostDTO">
	<![CDATA[
	SELECT *
	FROM (
	    SELECT ROWNUM AS RN, subquery.*
	    FROM (
	        SELECT SP.SELL_POST_NUMBER,
	               SP.SELL_POST_TITLE,
	               SP.PRICE_POINT,
	               SP.TRADING_AREA,
	               SP.SELL_POST_CREATION_DATE,
	               M.MEMBER_ID AS SELLER_ID,
	               AT.ATTACHMENT_PATH AS IMAGE_PATH
	        FROM TBL_SELL_POST SP
	        JOIN TBL_MEMBER M
	          ON SP.MEMBER_NUMBER = M.MEMBER_NUMBER
	        LEFT JOIN TBL_ATTACHMENT AT
	          ON SP.SELL_POST_NUMBER = AT.SELL_POST_NUMBER
	        WHERE SP.STATUS_ID = 1
	          AND SP.TEAM_ID = #{teamId}
	          AND SP.CATEGORY_ID = #{categoryId}
	        ORDER BY SP.SELL_POST_NUMBER DESC
	    ) subquery
	)
	WHERE RN BETWEEN #{startRow} AND #{endRow}
	]]>
	</select>

	<!-- 특정 물품 카테고리 조회 -->
	<select id="selectListCategory" parameterType="map" resultType="SellPostDTO">
	<![CDATA[
	SELECT SELL_POST_NUMBER,
	       SELL_POST_TITLE,
	       PRICE_POINT,
	       TRADING_AREA,
	       IMAGE_PATH,
	       SELL_POST_CREATION_DATE,
	       MEMBER_ID AS SELLER_ID
	FROM (
	    SELECT ROWNUM AS RN, subquery.*
	    FROM (
	        SELECT SP.SELL_POST_NUMBER,
	               SP.SELL_POST_TITLE,
	               SP.PRICE_POINT,
	               SP.TRADING_AREA,
	               SP.SELL_POST_CREATION_DATE,
	               M.MEMBER_ID,
	               AT.ATTACHMENT_PATH AS IMAGE_PATH
	        FROM TBL_SELL_POST SP
	        JOIN TBL_MEMBER M
	          ON SP.MEMBER_NUMBER = M.MEMBER_NUMBER
	        LEFT JOIN TBL_ATTACHMENT AT
	          ON SP.SELL_POST_NUMBER = AT.SELL_POST_NUMBER
	        WHERE SP.STATUS_ID = 1
	          AND SP.CATEGORY_ID = #{categoryId}
	        ORDER BY SP.SELL_POST_NUMBER DESC
	    ) subquery
	)
	WHERE RN BETWEEN #{startRow} AND #{endRow}
	]]>
	</select>
	
	<!-- 판매글 등록 쿼리  -->
	<insert id="insert" parameterType="SellPostDTO">
		<selectKey keyProperty="sellPostNumber" resultType="int" order="BEFORE">
			SELECT SEQ_SELL_POST.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TBL_SELL_POST(SELL_POST_NUMBER, MEMBER_NUMBER, STATUS_ID, CATEGORY_ID, DEALTYPE_ID, PRICE_POINT,
		SELL_POST_TITLE, TRADING_AREA, SELL_POST_CREATION_DATE, SELL_POST_CONTENT, TEAM_ID)
		VALUES(#{sellPostNumber}, #{memberNumber}, #{statusId}, #{categoryId}, #{dealtypeId}, #{pricePoint},
				#{sellPostTitle}, #{tradingArea}, sysdate, #{sellPostContent}, <if test="teamId != null">#{teamId}</if> <if test="teamId == null">NULL</if>)
	</insert>
	
	<!-- 판매글 상세조회 -->
	<select id="selectDetail" resultType="SellPostDetailDTO" parameterType="int">
    SELECT 
        SP.SELL_POST_NUMBER,
        SP.SELL_POST_TITLE,
        SP.SELL_POST_CONTENT,
        SP.PRICE_POINT,
        SP.TRADING_AREA,
        SP.SELL_POST_CREATION_DATE,
        SP.SELL_POST_UPDATE,
        M.MEMBER_NUMBER,
        M.MEMBER_ID AS MEMBER_ID,
        C.CATEGORY_NAME,
        S.STATUS_NAME,
        D.DEALTYPE_NAME,
        AT.ATTACHMENT_PATH AS IMAGE_PATH
    FROM TBL_SELL_POST SP
    JOIN TBL_MEMBER M ON SP.MEMBER_NUMBER = M.MEMBER_NUMBER
    JOIN TBL_CATEGORY C ON SP.CATEGORY_ID = C.CATEGORY_ID
    JOIN TBL_TRADE_STATUS S ON SP.STATUS_ID = S.STATUS_ID
    JOIN TBL_DEALTYPE D ON SP.DEALTYPE_ID = D.DEALTYPE_ID
    LEFT JOIN TBL_ATTACHMENT AT ON SP.SELL_POST_NUMBER = AT.SELL_POST_NUMBER
    WHERE SP.SELL_POST_NUMBER = #{sellPostNumber}
	</select>
	
	<!-- 글 작성자 조회 -->
	<select id="getWriter" resultType="int" parameterType="int">
	    SELECT MEMBER_NUMBER
	    FROM TBL_SELL_POST
	    WHERE SELL_POST_NUMBER = #{sellPostNumber}
	</select>
	
	<!-- 판매글 삭제 쿼리  -->
	<delete id="delete" parameterType="int">
		delete from tbl_sell_post
		where sell_post_number = #{sellPostNumber}
	</delete>
	
	<!-- 판매글 총 갯수 -->
	<select id="getTotal" resultType="int">
		SELECT COUNT(sell_post_number)
		FROM tbl_sell_post
		WHERE STATUS_ID = 1
	</select>
	
	<!-- 팀 카테고리 총 갯수 -->
	<select id="getTotalByTeamCategory" parameterType="map" resultType="int">
    SELECT COUNT(*)
    FROM TBL_SELL_POST
    WHERE STATUS_ID = 1
      AND TEAM_ID = #{teamId}
      AND CATEGORY_ID = #{categoryId}
	</select>
	
	<!-- 거래중 탭에 존재하는지 확인 -->
	<select id = "isTrading" resultType = "int" parameterType = "int">
		SELECT COUNT(SELL_POST_NUMBER)
		FROM TBL_SELL_POST SP
		JOIN TBL_TRADE_POST TP ON SP.SELL_POST_NUMBER = TP.SELL_POST_NUMBER
		WHERE SELL_POST_NUMBER = #{sellPostNumber}
	</select>
	
	<!-- 키워드 검색 결과  -->
	<select id="searchListAllByKeyword" parameterType="map" resultType="SellPostDTO">
	    <![CDATA[
	    SELECT *
	    FROM (
	        SELECT ROWNUM AS rnum, SP.*
	        FROM (
	            SELECT SP.SELL_POST_NUMBER,
	                   SP.SELL_POST_TITLE,
	                   SP.SELL_POST_CONTENT,
	                   SP.PRICE_POINT,
	                   SP.TRADING_AREA,
	                   SP.SELL_POST_CREATION_DATE,
	                   SP.CATEGORY_ID,
	                   SP.TEAM_ID,
	                   AT.ATTACHMENT_PATH AS IMAGE_PATH
	            FROM TBL_SELL_POST SP
	            LEFT JOIN TBL_ATTACHMENT AT ON SP.SELL_POST_NUMBER = AT.SELL_POST_NUMBER
	            WHERE SP.STATUS_ID = 1
	              AND SP.SELL_POST_TITLE LIKE '%' || #{keyword} || '%'
	            ORDER BY SP.SELL_POST_CREATION_DATE DESC
	        ) SP
	    )
	    WHERE rnum BETWEEN #{startRow} AND #{endRow}
	    ]]>
	</select>
	
	<!-- 키워드 기준 전체 게시글 수 조회 -->
	<select id="getTotalByKeyword" parameterType="map" resultType="int">
	    SELECT COUNT(*)
	    FROM TBL_SELL_POST
	    WHERE STATUS_ID = 1
	      AND SELL_POST_TITLE LIKE '%' || #{keyword} || '%'
	</select>
</mapper>