<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>SafeDugout_backend</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>main.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/errorPage.jsp</location>
	</error-page>

	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>com.bullPenTalk.app.main.MainFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>*.ma</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Member</servlet-name>
		<servlet-class>com.bullPenTalk.app.member.MemberFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Member</servlet-name>
		<url-pattern>*.me</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MyPage</servlet-name>
		<servlet-class>com.bullPenTalk.app.myPage.MyPageFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyPage</servlet-name>
		<url-pattern>*.mp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FreeCommunity</servlet-name>
		<servlet-class>com.bullPenTalk.app.freeCommunity.FreeCommunityFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FreeCommunity</servlet-name>
		<url-pattern>*.fc</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TeamCommunity</servlet-name>
		<servlet-class>com.bullPenTalk.app.teamCommunity.TeamCommunityFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeamCommunity</servlet-name>
		<url-pattern>*.tc</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Trade</servlet-name>
		<servlet-class>com.bullPenTalk.app.trade.SellPostFrontController2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Trade</servlet-name>
		<url-pattern>*.tr</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>com.bullPenTalk.app.admin.AdminFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>*.ad</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Comment</servlet-name>
		<servlet-class>com.bullPenTalk.app.reply.ReplyFrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Comment</servlet-name>
		<url-pattern>*.re</url-pattern>
	</servlet-mapping>
</web-app>