@charset "UTF-8";
#team-footer10{
  display: flex;
  flex-direction: column;
  background-color: #6F263D;
  min-height: 100px;
  width: 100%;
  position: fiexd;
  bottom: 0px;
}

#team-footer10 a{
  margin: 5px; 
  color: white;
  font-size: 14px;
}