@charset "UTF-8";
#team-footer2{
  display: flex;
  flex-direction: column;
  background-color: #C60C30;
  min-height: 100px;
  width: 100%;
  position: fiexd;
  bottom: 0px;
}

#team-footer2 a{
  margin: 5px; 
  color: white;
  font-size: 14px;
}