@charset "UTF-8";
.team-footer-container{
  display: flex;
  flex-direction: column;
  background-color: #ED1C24;
  min-height: 100px;
  width: 100%;
  position: fiexd;
  bottom: 0px;
}

.team-footer-container a{
  margin: 5px; 
  color: white;
  font-size: 14px;
}