@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

header {
	height: 100px;
	width: 100%;
	min-width: 100%;
	background-color: #DCD6D0;
	padding: 0px;

}

.header-container {
	background-color: #DCD6D0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.header-left {
	height: 100px;
}

.main-logo img {
	height: 100px;
	width: 100px;
}

.header-right {
	height: 100px;
	display: flex;
	float: right;
	gap: 15px;
	padding-right: 10px;
}

.guide-notice {
	display: flex;
	line-height: 100px;
	margin-right: 15px;
}

.guide-notice a {
	text-decoration: underline;
}

.notice {
	display: flex;
	line-height: 100px;
}

.login {
	display: flex;
	line-height: 100px;
}

.register {
	display: flex;
	line-height: 100px;
}

.welcome {
	display: flex;
	line-height: 100px;
}

.welcome span {
	font-weight: 700;
}

.logout {
	display: flex;
	line-height: 100px;
}

.trade-logo img {
	width: 80px;
	height: 80px;
}

.mypage img {
	width: 80px;
	height: 80px;
}

a{
	color: black; 
	text-decoration: none;
}

.notice a {
	text-decoration: none;
}

.notice a:hover {
	text-decoration: underline;
}

.register span, 
.logout span {
	margin-right: 10px;
}